/*Colores
rgb(166, 166, 166); blanco
rgb(19, 19, 19); negro
rgb(71, 65, 65); gris
rgb(223, 46, 46), rojo claro
rgb(156, 29, 29); rojo oscuro
*/

/*pruebas
$color--negro: #3c3c3c;
$color--gris: #666666;
$color-blanco: #b5b5b5;


*/

*{
    /*color: white;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    /*background-color: #889293;*/
    background-color: #f3f3f3;;
}
/*Home*/
.home{
    /*background-color: #474745;*/
    background-color: #262526;
    text-align: center;
    padding: 10px;
}
.home h1{
    padding: 40px;
    font-size: 80px;
    color: white;
}

/*Footer*/
.footer{
    background-color: #262526;
    text-align: center;
    padding: 10px;
    color: white;
}
.footer div{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 15px;
}
.footer p{
    padding: 10px;
    font-size: 10px;
    text-align: right;
}
.footer .footer__social ul li{
    display: inline-block;
    text-align: center;
    list-style: none;
    padding: 10px 80px;
}

/*Menu*/
#menu{ 
    margin: 0;
    padding: 0;
    position: fixed;
    width: 190px;
    height: 100%;
    display: block;
    background-color: rgb(19, 19, 19);
    font-weight: bold;
    text-align: center;
    left: -200px;
    transition: all 300ms linear;
    color: white;
}
#menu.sidebar__button__mostrar{
    left: 0;
}
#menu ul{
    padding: 0;
    margin: 0;
}
#menu ul li{
    text-align: center;
    list-style: none;
    padding: 15px 10px;
    margin: 0;
 }
.logo {
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto;
}
#menu a{
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    margin: 0;
    color: white;
}
#menu a:hover{
    transition: 0.5s;
    border-bottom: 1px solid rgb(156, 29, 29);
}

/*Side button*/
#menu .sidebar__button{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
#menu .sidebar__button span{
    display: block;
    width: 30px;
    text-align: center;
    font-size: 20px;
    border: 2px solid rgb(19, 19, 19); 
}
#menu .sidebar__button:hover{
    transition: 0.5s;
    background-color: rgb(19, 19, 19);
}

/*SEARCH BAR*/
input{
    margin: 5px auto;
    padding: 5px;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 5%; 
    color: rgb(19, 19, 19);
}
#search__item__button{
    background-color: rgb(19, 19, 19);
    padding: 5px;
    border-radius: 10%;
    color: white;
}
#search__item__button:hover{
    transition: 0.5s;
    background-color: rgb(71, 65, 65);
}

/*Cards*/
.producto__catalogo {
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.producto__catalogo div{
   /* background-color: #474745;*/
    background-color: #f3f3f3;
    margin: 30px;
    padding: 5px;
    border-radius: 2%;
    text-align: center;
    /*font-weight: 300;*/
    /*box-shadow: 2px 2px 6px 0px  rgba(0, 0, 0, 0.548);*/
    width: 400px;
}
.producto__catalogo div:hover{
    background-color: #d7d8da;
    box-shadow: 2px 2px 6px 0px #33691E;
    transition: 1s;
}
.producto__catalogo div .render__div{
    width: auto;
    /*background-color: #f3f3f3*/;
    border-radius: 1%;
    padding: 0px 20px 20px;
    font-weight: 700;
}
.producto__catalogo div img{
    width: 200px;
    height: 200px;
    border-radius: 1%;
    /*box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.5);*/
}
.producto__catalogo .render__div__text{
    padding: 10px 20px 10px;
    font-style: italic;
}


/*Botones*/
.boton__agregar {
    background-color:#33691E;
    color: white;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10%;
    font-weight: 500;

}
.boton__agregar:hover{
    transition: 0.5s;
    background-color: #8BC34A
}
.boton__quitar {
    background-color:#33691E;
    color: white;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10%;
    font-weight: 500;
}
.boton__quitar:hover{
    transition: 0.5s;
    background-color: #8BC34A
}
#checkout__buttons{
    text-align: center;
}
#limpiar__carrito, #terminar__carrito{
    background-color:#33691E;
    color: white;
    height: 40px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 1%;
    border-color: #474745;
}
#limpiar__carrito:hover{
    transition: 0.5s;
    background-color: #8BC34A
}
#terminar__carrito:hover{
    transition: 0.5s;
    background-color: #8BC34A
}
.boton__confirmar{
    background-color: rgb(223, 46, 46);
    height: 30px;
    padding: 5px 10px;
    border-radius: 10%;
    margin: 10px;
}
.boton__cancelar{
    background-color: #474745;
    height: 30px;
    padding: 5px 10px;
    border-radius: 10%;
    margin: 10px;
}

/*Total*/
.total__agregado div{
    background-color:#33691E;
    color: white;
    width: 240px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 2%;
    text-align: center;
    /*border: 2px solid rgb(19, 19, 19);*/
}
#total__carrito{
    box-shadow: none;
}
#div__checkout{
    height: 200px;
}

/*Alertas*/
.alert__no__results{
    text-align: center;
}


/*REVISAR SECCION CARRITO*/